.signIn {
  bottom: 0;
  height: 100px;
  margin: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 250px;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.slackIcon {
  width: 27%;
  transition: all .5s ease;
}
.slackIcon:hover {
  transform: scale(1.40);
}

/*######################    mainPage      ##################*/

/*.conteiner {*/
  /*width: 100%;*/
  /*padding: 50px 0;*/
  /*display: flex;*/
  /*flex-direction: row;*/
  /*justify-content: center;*/
/*}*/
.material-icons {
  font-size: 18px;
  cursor: pointer;
}
.mdl-layout__drawer {
  border: none;
  background-color: #142550;
}
.mdl-layout__drawer .mdl-navigation {
  padding: 0;
}
.infoBox {
  padding: 0 10px;
}
.userInfo {
  color: #fff;
}
.contacts,
.channels {
  color: #bab4d4;
  padding-bottom: 16px;
}
.myCross {
  /*ЗДЕСЬ НАДО НАПИСАТЬ СВОЙСТВА КНОПКИ, НА УДАЛЕНИЕ КАНАЛА*/
}
.mdl-chip__action {
  color: #fafafa;
}
.mdl-chip {
  width: 100%;
  margin-top: 15px;
  color: #bab4d4;
  background-color: #000750;
}
.mdl-chip:hover {
  background-color: #000000;
  cursor: pointer;
}

.chat {
  padding-left: 50px;
  padding-right: 50px;
  width: 35%;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .3);
}
.name {
  font-weight: bold;
}
.msg {
  padding: 0 60px;
}
.myMsgImg {
  float: right;
}
.opponentMsgImg {
  float: left;
}
.opponentMsg {
  padding: 15px 0 15px 0;
  text-align: left;
  width: 100%;
}
.myMsg {
  padding: 15px 0 15px 0;
  text-align: end;
  width: 100%;
}
.myImgCss {
  border-radius: 20px;
}
.inputMsg {
  margin-top: 80px;
}
.myMdl-textfield {
  width: 100%;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: #000750;
}

@media all and (max-width: 700px){
  .chat {
    width: 100%;
    padding: 0;
  }
  .control {
    padding-left: 50px;
  }
}